{% extends 'layout.html' %}

{% block body %}

<style type="text/css">
	.main-container{
		margin-top: 40px;
	}
</style>
<div class="container main-container">
	<div class="jumbotron">
	  <h1 class="display-4">Greetings, users !</h1>
	  <p class="lead">Med ali presenting a simple tool to crypt a binary code with RSP cyptoSystem ,and show the keys .</p>
	  <hr class="my-4">
	  <p>The project is made using python as an algorithm and flask / wtforms as a front enf.</p>
	  <a class="btn btn-primary btn-lg" href="/rsp" role="button">Crypt RSP</a>
	</div>
	
</div>


{% endblock %}